<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaclimb.mapper.UserSportMapper">
	
	<select id="getList" parameterType="userSport" resultType="userSport">
		select * from user_sport		
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="state!=null and state>0">
				and state = #{state}
			</if>
			<if test="uid!=null and uid!=''">
				and uid = #{uid}
			</if>
			<if test="sid!=null and sid!=''">
				and sid = #{sid}
			</if>
						
			<if test="searchContent!=null and searchContent!=''">
				and (name like '%${searchContent}%' or userName like '%${searchContent}%') 
			</if>
			
			<if test="createTime!=null">
				and date(createTime) = date(now())
			</if>
		</where>	
	</select>

	<insert id="add" parameterType="userSport">
		insert into user_sport(uid,sid,name,avatarUrl,heat,des,userName,userAvatarUrl)
		values(#{uid},#{sid},#{name},#{avatarUrl},#{heat},#{des},#{userName},#{userAvatarUrl})
	</insert>
	
	<update id="delete" parameterType="userSport">
		delete from user_sport where id=#{id}
	</update>
	
	<update id="update" parameterType="userSport">
		update user_sport 
		set uid=#{uid},sid=#{sid},name=#{name},
			avatarUrl=#{avatarUrl},heat=#{heat},des=#{des},
			userName=#{userName},userAvatarUrl=#{userAvatarUrl}
		where id=#{id}
	</update>
	
	<update id="updateState" parameterType="userSport">
		update user_sport 
		set state=#{state}
		where id=#{id}
	</update>

	<select id="getTodayTotalHeat" parameterType="statisticsBean" resultType="BigDecimal">
		select IFNULL(sum(heat),0.0) as total from user_sport
		where uid=#{uid} and date(createTime) = date(now())
	</select>
	
</mapper>


